{% extends 'base.html' %}
{% block title %}
  Group room
{% endblock %}


{% block content %}

  <div align="center">
      <h1>Chat</h1>
      To create a chat - <h2> {{chatid}} </h2>
  </div>


  <div class="container">

      <form id="post-form" method="POST" action="checkview">
          {% csrf_token %}
          <label>Room Name</label>
          <input type="text" name="room_name" id="room_name" placeholder = 'Enter Chat id'width="100px" />
          {% if user.is_authenticated %}
            <label>Username: {{ user.username }} </label>
            <input type="hidden" name="username" id="username" value="{{ user.username }}"/>
            <input type="submit" value="Enter Room">
          {% else %}
            <a href="{% url 'login' %}">Sign In</a> or <a href="{% url 'register' %}">Register</a>
          {% endif %}
      </form>
  </div>
{% endblock %}